In [3]:
print("hello world")

hello world

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import warnings warnings.filterwarnings("ignore") 

y_2018 = pd.read_csv("D:/DATASCIENCE/Data/Data/2018.csv")
y_2019 = pd.read_csv("D:/DATASCIENCE/Data/Data/2019.csv")

data = pd.concat([y_2018,y_2019],sort=False)
data
data.describe().T
data.info()
data.rename(columns={
    "Overall rank":"rank",
    "Country or region": "country",
    "Score": "score",
    "GDP per capita": "gdp",
    "Social support": "social",
    "Healthy life expectancy": "healthy",
    "Freeedom to make life choices": "freedom",
    "Generosity": "generosity",
    "Perceptions of corruption": "corruption"
},inplace=True)
del data["rank"]
data.columns[data.isnull().any()]
data.isnull().sum()
data[data["corruption"].isnull()]
avg_data_corruption = data.loc[data["score"] > 6.774, "corruption"]

<class 'pandas.core.frame.DataFrame'>
Index: 312 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  312 non-null    int64
 1   Country or region             312 non-null    object
 2   Score                         312 non-null    float64
 3   GDP per capita                312 non-null    float64
 4   Social support                312 non-null    float64
 5   Healthy life expectancy       312 non-null    float64
 6   Freedom to make life choices  312 non-null    float64
 7   Generosity                    312 non-null    float64
 8   Perceptions of corruption     311 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 24.4+ KB

,country,score,gdp,social,healthy,Freedom to make life choices,generosity,corruption
19,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN